/*
  NOTE:
    Лучше не используй .css вообще
    Ты можешь задать эти стили так:
      const useGlobalStyles = makeStyles({
        "@global":{
          "*":{
            ...
          },

          "body":{
            ...
          },

          "code":{
            ...
          }
        }
      })

    А потом просто достаточно вызвать эту функции где-то, можешь в App.tsx
      [App.tsx]:
        ...
        export const App:React.FC = () => {
          ...
          useGlobalStyles();
          ...
        }
*/

* {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
